<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<form th:action="@{/}">
    <input type="submit" value="Выйти"/>
</form>
<h2>Меню администратора</h2>
<form action="#" th:action="@{/adminInfo}">
    <input type="submit" value="Личная информация">
</form>
<form action="#" th:action="@{/adminUserList}">
    <input type="submit" value="Управление пользователями">
</form>
<form action="#" th:action="@{/downloadUsers}">
    <input type="submit" value="Файловый отчет о данных пользователей">
</form>
<form action="#" th:action="@{/shoesList}">
    <input type="submit" value="Управление производством обуви">
</form>
<form action="#" th:action="@{/filtrate}">
    <input type="submit" value="Фильтрации данных">
</form>
<form action="#" th:action="@{/graph}">
    <input type="submit" value="Создание графического отчета">
</form>
<form action="#" th:action="@{/search}">
    <input type="submit" value="Просмотр информации по параметру">
</form>
<form action="#" th:action="@{/goalsList}">
    <input type="submit" value="Администрирование целями">
</form>
<form action="#" th:action="@{/solveTask}">
    <input type="submit" value="Решение экспертного метода">
</form>
</body>

</html>