<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Изменение</title>
</head>
<body>
<div align="center">
  <h1>Изменение данных об обуви</h1>
  <br />
  <form action="#" th:action="@{/saveShoes}" th:object="${shoes}"
        method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>ID обуви:</td>
        <td><input type="text" th:field="${shoes.idShoes}" readonly/></td>
      </tr>
      <tr>
        <td>Наименование:</td>
        <td>
          <input type="text" th:field="${shoes.nameShoes}" minlength="1" maxlength="35"/>
        </td>
      </tr>
      <tr>
        <td>Стоимость:</td>
        <td><input type="number" step="0.01" min="0" placeholder="0,00" th:field="${shoes.costs}" />Br</td>
      </tr>
      <input type="hidden" th:field="${shoes.person.idPerson}">
      <tr>
        <td>Имя производителя:</td>
        <td><input type="text" th:field="${shoes.person.firstName}" readonly/></td>
      </tr>
      <tr>
        <td>Фамилия производителя:</td>
        <td><input type="text" th:field="${shoes.person.secondName}" readonly/></td>
      </tr>
      <input type="hidden" th:field="${shoes.person.workPlace}" />
      <tr>
        <td colspan="2"><button type="submit">Сохранить изменения</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>