<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Поиск</title>
</head>
<body>
<div align="center">
  <h1>Просмотр информации по производителям</h1>
  <form action="#" th:action="@{/admin}">
    <input type="submit" value="Вернуть назад">
  </form>
  <form th:action="@{/searchID}" th:object="${person}" method="POST">
    <div>
      <select th:field="${person.idPerson}">
        <option th:each="person : ${personList}"
                th:value="${person.idPerson}"
                th:text="${person.firstName} + ' ' + ${person.secondName}"></option>
      </select>
    </div>
    <div>
      <input type="submit" value="Найти" />
    </div>
  </form>

  <div th:if="${shoesList!=null and !shoesList.isEmpty()}">
    <table border="1" cellpadding="10">
      <thead>
      <tr>
        <th>ID Обуви</th>
        <th>Наименование товара</th>
        <th>Стоимость</th>
        <th>Имя производителя</th>
        <th>Фамилия производителя</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="shoes : ${shoesList}">
        <td th:text="${shoes.idShoes}">ID Обуви</td>
        <td th:text="${shoes.nameShoes}">Наименование товара</td>
        <td th:text="${shoes.costs}">Стоимость</td>
        <td th:text="${shoes.person.firstName}">Имя производителя</td>
        <td th:text="${shoes.person.secondName}">Фамилия производителя</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>