<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Список произведенной обуви</title>
</head>
<body>
<div align="center">
  <h1>Список произведенной обуви</h1>
  <form action="#" th:action="@{/admin}">
    <input type="submit" value="Вернуть назад">
  </form>
  <form action="#" th:action="@{/sortByName}">
    <input type="submit" value="Сортировка по наименованию">
  </form>
  <form action="#" th:action="@{/sortById}">
    <input type="submit" value="Сортировка по ID">
  </form>
  <form action="#" th:action="@{/sortByCosts}">
    <input type="submit" value="Сортировка по стоимости">
  </form>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ID Обуви</th>
      <th>Наименование товара</th>
      <th>Стоимость</th>
      <th>Имя производителя</th>
      <th>Фамилия производителя</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shoes : ${shoesList}">
      <td th:text="${shoes.idShoes}">ID Обуви</td>
      <td th:text="${shoes.nameShoes}">Наименование товара</td>
      <td th:text="${shoes.costs}">Стоимость</td>
      <td th:text="${shoes.person.firstName}">Имя производителя</td>
      <td th:text="${shoes.person.secondName}">Фамилия производителя</td>
      <td>
        <a th:href="@{'/editShoes/' + ${shoes.idShoes}}">Изменить</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{'/deleteShoes/' + ${shoes.idShoes}}">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>