<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:action="@{/}">
    <input type="submit" value="Выйти"/>
</form>
<h2>Меню пользователя</h2>
<form action="#" th:action="@{/userInfo}">
    <input type="submit" value="Личная информация">
</form>
<form action="#" th:action="@{/createShoes}">
    <input type="submit" value="Производство обуви">
</form>
<form action="#" th:action="@{/userShoesList}">
    <input type="submit" value="Отчет о производимой обуви">
</form>
</body>

</html>