<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Список обуви</title>
</head>
<body>
<div align="center">
  <h1>Список обуви</h1>
  <form action="#" th:action="@{/user}">
    <input type="submit" value="Вернуть назад">
  </form>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ID обуви</th>
      <th>Наименование</th>
      <th>Цена</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shoes : ${shoesList}">
      <td th:text="${shoes.idShoes}">ID Пользователя</td>
      <td th:text="${shoes.nameShoes}">Наименование</td>
      <td th:text="${shoes.costs}">Цена</td>
      <td>
        <a th:href="@{'/editShoesUser/' + ${shoes.idShoes}}">Изменить</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{'/deleteShoesUser/' + ${shoes.idShoes}}">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>